<div class="card">
    <div class="card-header">
        <h5>Uso do Gemini (FREE Tier)</h5>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <h6>Hoje</h6>
                <p class="h3">{{ requests_today }}/250</p>
                <small>Requests por dia</small>
            </div>
            <div class="col-md-4">
                <h6>Último minuto</h6>
                <p class="h3">{{ requests_minute }}/10</p>
                <small>Requests por minuto</small>
            </div>
            <div class="col-md-4">
                <h6>Google Search</h6>
                <p class="h3">{{ search_today }}/500</p>
                <small>Buscas por dia</small>
            </div>
        </div>
    </div>
</div>